.App {
	// text-align: center;
	margin: 0;
	padding: 0;
}

.Navbar {
	width: 100%;
	height: 50px;
	background-color: rgba(196, 196, 196, 0.795);
	position: fixed;
	top: 70px;
	z-index: 100;

	display: flex;
	align-items: center;
	justify-content: space-evenly;
	// padding: 20px 90px;
	a {
		text-decoration: none;
		color: rgb(24, 23, 23);
		font-size: 16px;
		// padding: 4px;
		&:hover {
			font-weight: 600;
		}
	}
}

// top bar
.topBar {
	width: 100%;
	height: 70px;
	background-color: rgba(34, 11, 134, 0.726);
	position: fixed;
	top: 0;
	z-index: 100;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	.logo {
		height: 70px;
		// flex: 3;
		display: flex;
		align-items: center;
		justify-content: center;
		span {
			color: white;
			font-size: 40px;
		}
	}
	.contactUs {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		height: 70px;
		span:first-child {
			font-size: 21px;
			font-weight: 500;
		}
		span:last-child {
			font-size: 14px;
			margin-top: 5px;
		}
	}
	.emailUs {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		height: 70px;
		span:first-child {
			font-size: 21px;
			font-weight: 500;
		}
		span:last-child {
			font-size: 14px;
			margin-top: 5px;
		}
		// flex: 3;
	}
	.FollowUs {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		height: 70px;
		span:first-child {
			font-size: 21px;
			font-weight: 500;
		}
		span:last-child {
			font-size: 14px;
			margin-top: 5px;
		}

		.socialIcon {
			color: white;
			font-size: 18px;
		}
	}
}
////Fast slide
.mainSld {
	//margin: 20px 10px;

	.carddMe {
		.iteams {
			.imgPart {
				height: 100vh;
				position: relative;
				// background-color: brown;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}

				.textAll {
					text-align: center;
					color: rgb(255, 255, 255);
					padding: 2px;
					position: absolute;
					bottom: 90px;
					left: 100px;
				}
			}
		}
	}

	.slick-arrow.slick-prev {
		background-color: rgba(241, 240, 243, 0.678);
		width: 70px;
		height: 70px;
		border-radius: 50%;

		position: absolute;
		left: 8px;

		display: flex;
		justify-content: center;
		align-items: center;

		z-index: 5;

		&:hover {
			background-color: rgb(255, 255, 255);
		}
	}
	.slick-arrow.slick-prev::before {
		// display: none;
		content: '\276E';
		color: rgb(22, 22, 22);
		font-size: 40px;
		z-index: 5;
	}

	.slick-arrow.slick-next {
		background-color: rgba(233, 232, 236, 0.637);
		width: 70px;
		height: 70px;
		border-radius: 50%;

		position: absolute;
		right: 8px;

		display: flex;
		justify-content: center;
		align-items: center;

		z-index: 5;

		&:hover {
			background-color: rgb(255, 255, 255);
		}
	}

	.slick-arrow.slick-next::before {
		// display: none;
		content: '\276F';
		color: rgb(27, 26, 26);
		font-size: 40px;
		z-index: 5;
	}
}

// card images
.cardHolder {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px;
	flex-wrap: wrap;

	.card {
		background-color: rgb(104, 47, 6);
		width: 280px;
		height: 500px;
		margin: 16px;
		border-radius: 12px;
		color: white;
		position: relative;
		overflow: hidden;

		.cardImage {
			img {
				width: 100%;
				height: 200px;
				margin-bottom: 10px;
				background-size: cover;
				border-radius: 12px;
				transition: all 0.5s ease;
				&:hover {
					transform: scale(1.1);
				}
			}
		}
		.cardName {
			background-color: chocolate;
			padding: 8px;
		}
		.cardDescription {
			// text-align: center;
			padding: 8px;
		}
		a {
			text-decoration: none;
			background-color: chocolate;
			color: white;
			padding: 8px;
			text-align: center;
			display: block;
			border-radius: 4px;
			position: absolute;
			left: 10px;
			right: 10px;
			margin: auto;
			bottom: 20px;
		}
	}
}
